{% extends "base.html" %}

{% block contenido %}

    <section>
      <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <div
                class="cover cover-small"
                style="background-image:url(https://cdn.glitch.me/9747dedf-7a25-4eaf-b9cf-a7180a0710bb/imagen2.jpg?v=1639708418672)"
                alt="Una hamburgesa"
              ></div>
              <div class="card-body">
                <h5 class="card-title">Hamburguesas super</h5>
                <p class="card-text">
                  esta es la Especialidad de la Casa no te arrepentiras.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <div
                class="cover cover-small"
                style="background-image:url(https://cdn.glitch.me/9747dedf-7a25-4eaf-b9cf-a7180a0710bb/imagen2.jpg?v=1639708418672)"
                alt="Una hamburgesa"
              ></div>
              <div class="card-body">
                <h5 class="card-title">Hamburguesas super</h5>
                <p class="card-text">
                  esta es la Especialidad de la Casa no te arrepentiras.
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div class="card">
              <div
                class="cover cover-small"
                style="background-image:url(https://cdn.glitch.me/9747dedf-7a25-4eaf-b9cf-a7180a0710bb/imagen2.jpg?v=1639708418672)"
                alt="Una hamburgesa"
              ></div>
              <div class="card-body">
                <h5 class="card-title">Hamburguesas super</h5>
                <p class="card-text">
                  esta es la Especialidad de la Casa no te arrepentiras.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container mt-5 mb-5">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-5">
            <div class="card">
              <img
                src="https://cdn.glitch.me/9747dedf-7a25-4eaf-b9cf-a7180a0710bb/undraw_hamburger_-8-ge6.svg?v=1639845448166"
                alt="Una hamburgesa"
              />
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <h5>
              ¿Llegas cansado de trabajar y no queres cocinar?
            </h5>
            <p>
              Entonces no esperes la mejor comida cacera en la puerta de tu
              domicilio.
            </p>
            <a href="#"> Ir mapa </a>
          </div>
        </div>
        <form action="">
          <label for="email">Correo electronico</label>
          <div class="d-flex">
            <div class="flex-fill mr-2">
              <input type="email" id="email" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">
              enviar
            </button>
          </div>
        </form>
      </div>
    </section>
    
    <section>
      <div class="container mt-5 mb-5 text-center">
        <h5>
          Aqui podes encontrarnos!!!
        </h5>
        <p>
          Direccion: Liniers 820, H3508CZD Resistencia, Chaco
        </p>
        <div class="responsive-iframe container-center">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.888347175987!2d-58.98480238556323!3d-27.441590182902665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450c59447fb029%3A0xfb97ad02a8e1cb51!2sLiniers%20820%2C%20H3508CZD%20Resistencia%2C%20Chaco!5e0!3m2!1ses!2sar!4v1640021733820!5m2!1ses!2sar" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </section>


{% endblock contenido %}