{% extends "base.html" %}

{% block ahref1 %} <a class="nav-link" href='../'>Inicio</a> {% endblock ahref1 %}
{% block ahref2 %} <a class="nav-link disabled" href='#'>Menu</a> {% endblock ahref2 %}
{% block ahref3 %} <a class="nav-link" href='../conocenos/'>Conocenos</a> {% endblock ahref3 %}

{% block contenido %}

    <section>
      <div class="container mt-5 mb-5">
        <div class="stripe-container">
          <div class="card-deck">
            <div class="card">
              <img
                src="https://cdn.glitch.me/9747dedf-7a25-4eaf-b9cf-a7180a0710bb/jonathan-borba-KSAThuJ9mjs-unsplash_opt.jpg?v=1639854218542"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Plato de la Casa</h5>
                <p class="card-text">Descripcion del Plato.</p>
              </div>
            </div>
          </div>

          <div class="card-deck">
            <div class="card">
              <img
                src="https://cdn.glitch.me/9747dedf-7a25-4eaf-b9cf-a7180a0710bb/jonathan-borba-KSAThuJ9mjs-unsplash_opt.jpg?v=1639854218542"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Plato de la Casa</h5>
                <p class="card-text">Descripcion del Plato.</p>
              </div>
            </div>
          </div>
          <div class="card-deck">
            <div class="card">
              <img
                src="https://cdn.glitch.me/9747dedf-7a25-4eaf-b9cf-a7180a0710bb/jonathan-borba-KSAThuJ9mjs-unsplash_opt.jpg?v=1639854218542"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Plato de la Casa</h5>
                <p class="card-text">Descripcion del Plato.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock contenido %}